@font-face {
  font-family: "Atyp";
  src: local("atyp-display-semibold"), url("./assets/fonts/atyp-display-semibold.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: local("gilroy-medium"), url("./assets/fonts/gilroy-medium.ttf");
}
@font-face {
  font-family: "OCR A Regular";
  src: url("./assets/fonts/OCR A Regular.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "OCR A Regular", sans-serif;
}
body {
  background-image: url("./assets/ФОН.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.wrapperCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 3rem;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 60.5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin: 0 auto;
}

.logo img {
  height: 60px;
}

.year {
  font-size: 24px;
  font-weight: bold;
  margin-right: 2rem;
}

.content {
  width: 90%;
  max-width: 800px;
  padding: 5rem;
  box-sizing: border-box;
  position: relative;
}

.card {
  width: 100%;
  background-image: url("./assets/КАРТОЧКА.png");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 21px;
  min-height: 344px;
  box-sizing: border-box;
}

.traffic-info {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
  margin-top: 55px;
}

.imgDynamic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 15px;
  object-fit: cover;
}

.imgDIv {
  padding-left: 5px;
  padding-top: 5px;
}

.labels {
  font-size: 20px;
  padding-bottom: 20px;
}

.traffic-info div {
  margin-top: 10px;
}

.traffic-info h1 {
  color: white;
  font-family: "Atyp";
  font-size: 60px;
}

.traffic-info p,
span {
  padding-left: 5px;
  color: white;
  font-weight: 300;
  font-family: "Gilroy";
  font-size: 16px;
}

.transactions {
  width: 100%;
  margin: 0 auto;
  margin-top: 16px;
  padding-bottom: 15px;
  margin-left: 25px;
  margin-bottom: 55px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 15px;
}

.top-right-img {
  position: absolute; 
  top: 35px; 
  right: 83px; 
  width: 50px; 
  height: 50px; 
}

.bottom-left-img {
  position: absolute; 
  bottom: 35px; 
  left: 154px; 
  width: 50px; 
  height: 50px; 
}

td {
  text-align: left;
  width: 33.33%;
  font-size: 17px;
  color: white;
  /* opacity: 0.3; */
  height: 40px;
  font-weight: 300;
}
th {
  text-align: left;
  /* width: 100px; */
  font-size: 1rem;
  color: white;
  font-weight: 300;
  font-family: "Gilroy";
}

.transaction .label {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  font-family: "Gilroy";
}

.date {
  display: flex;
  align-items: center;
  color: white;
  p {
    font-size: 19px;
    font-weight: 600;
    font-family: "Atyp";
  }
}

.transaction .name,
.transaction .date,
.transaction .amount {
  font-size: 1rem;
  color: white;
  /* font-family: "OCR A Regular"; */
  font-weight: 300;
}

@media (max-width: 802px) {
  .traffic-info {
    margin-top: 31px;
  }

  .imgDIv img {
    height: 150px;
  }
}

@media (max-width: 660px) {
  .content {
    padding: 0rem;
  }

  .traffic-info {
    margin-top: 20px;
    margin-left: 0px;
    padding: 1px;
    div h1 {
      font-size: 24px;
    }

    div p {
      font-size: 14px;
    }
  }

  .imgDIv img {
    height: 100px;
  }

  .card {
    padding: 2rem;
  }

  .transactions {
    margin-left: 10px;
  }

  .transaction .label,
  .transaction .name,
  .transaction .date,
  .transaction .amount {
    font-size: 14px;
    font-family: "OCR A Regular" !important;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1.5rem;
  }

  .traffic-info div h1 {
    font-size: 22px;
  }

  .traffic-info div p {
    font-size: 14px;
  }

  .imgDIv img {
    height: 80px;
  }

  .card {
    padding: 1.5rem;
  }

  .transactions {
    margin-left: 5px;
  }

  .transaction .label,
  .transaction .name,
  .transaction .date,
  .transaction .amount {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 0rem;
  }
  .traffic-info div h1 {
    font-size: 18px;
  }

  .imgDIv img {
    height: 60px;
  }

  .transaction .label,
  .transaction .name,
  .transaction .date,
  .transaction .amount {
    font-size: 10px;
  }
  td {
    font-size: 14px;
  }
}
